<div id="<%= dom_id(convo) %>">
	<div class="convo" data-convo-id="<%= convo.id %>">
	
	  <%= render 'users/user', :user => convo.user %>
	
		<span class="title">
		<%=link_to convo.title, posts_url(:convo_id => convo.id) %><br>
	  </span>
	
		<%= render 'shared/merits', :merits => convo.merits %>
	
		<span class="content">
	  <%= raw convo.content %><br>
		</span>
	</div>
</div>