<div id="<%= dom_id(convo) %>">
	<div class="convo" data-convo-id="<%= convo.id %>">
	
	  <%= render 'users/user', :user => convo.user %>
	
		<span class="title">
		<%=link_to convo.title, convo_posts_url(:convo_id => convo.id) %><br>
	  </span>
	
		<%= render 'shared/merits', :item => convo %>
	
		<span class="convo_content">
	  <!-- <%= raw convo.content %> -->
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	  <br>
		</span>
	</div>
</div>