<div id="<%= dom_id(convo) %>">
	<div class="convo" data-convo-id="<%= convo.id %>">
	
	<%= render 'users/user', :user => convo.user %>
	
		<%= render 'shared/merits', :merits => convo.merits %>
		
	
		<span class="content">
		<%= link_to convo.title, convo_posts_path(convo.id) %><br>
	  <%= raw convo.content %><br>
		</span>
	</div>
</div>

<script>

$('.upmerit').click(function(){
	meritDiv=$(this).siblings('.merits');
	var id = meritDiv.parent().data('convo-id');
			var merits = parseInt(meritDiv.text());
		  merits += 1;
		
			$.ajax({
				url: "<%= convo_url(convo.id)%>",
				type: "POST",
				dataType: "json",
				data: { _method: "PUT", id: id, post: { merits: merits } }
			}).success(function(){
				meritDiv.text(merits);
			}).fail(function(data){
				alert("Sorry, request failed");
			});
});

$('.demerit').click(function(){
	meritDiv=$(this).siblings('.merits');
	var id = meritDiv.parent().data('convo-id');
			var merits = parseInt(meritDiv.text());
		
		  merits -= 1;
		
			$.ajax({
				url: "/convos/"+id,
				type: "POST",
				dataType: "json",
				data: { _method: "PUT", id: id, post: { merits: merits } }
			}).success(function(){
				meritDiv.text(merits);
			}).fail(function(data){
				alert("Sorry, request failed");
			});
});

</script>
