<article class= "convo" id="<%= dom_id(convo) %>" style="background:<%= merits_to_color(convo.merits) %>">

	  <%= render 'users/user', :user => convo.user %>
		
			<header class="title">
					<h2> <%=link_to convo.title, convo_posts_url(:convo_id => convo.id) %> </h2>
			</header>
		
			<%= render 'shared/merits', :item => convo %>
			<%= render 'shared/docs', :item => convo %>
			<div class="convo_text">
			  <%= raw convo.content %>
			</div>
					<%if signed_in? %>
						<% if current_user.admin?%>
							<%= link_to "Edit", edit_convo_url(convo.id)%> | <%= link_to "Delete", convo_url(convo.id), method: :delete %>
						<% elsif current_user == convo.user && convo.created_at < 1.day.ago %>
							<%= link_to "Edit", edit_convo_url(convo.id)%> | <%= link_to "Delete", convo_url(convo.id), method: :delete %>
							<% else %>
							Locked for editing after 1 day
							<% end %>
						<% end%>
		<!-- Admin will see delete button here -->
				
</article>