<%= form_for(@convo) do |f| %>
  <% if @convo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@convo.errors.count, "error") %> prohibited this convo from being saved:</h2>

      <ul>
      <% @convo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<% if user_signed_in?
		user_id = current_user.id %>
	<%=f.hidden_field :user_id %>
	<% end %>
	
<!-- Should users choose the subject, prepopped with current subject? -->
	<div class="field">
	<%= f.label :subject_id %><br />
	<% if @subject%>
	<%= f.collection_select :subject_id, Subject.order(:name), :id,:name, :prompt => @subject.name %>
	<% else %>
	<%= f.collection_select :subject_id, Subject.order(:name), :id,:name, :prompt => "Choose a subject" %>
	<% end %>
	
	<%= f.label :topic_id %><br />
	<br /> <%= f.grouped_collection_select :topic_id, Subject.order(:name),:topics, :name,:id,:name%>
	
	</div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>

	<% if current_user.admin %>
			<em>Admin: "Sticky on top" makes a conversation appear at top of index pages. It is used to post admin alerts to the site. Please remember to <strong>unstick the conversation</strong> (edit conversation and uncheck box) once it is no longer relevant</em> <br/><br/>
			<strong>Sticky on top</strong>	<%=f.check_box :sticky %><br/>
	<% end %>
	
		<%= f.submit "Post", class: "post-submit btn btn-primary ", confirm:"Start this conversation?" %>

<% end %>
