<% content_for :sidebar do %>
<%= render 'layouts/sidebar' , :popular => @popular %>
<% end %>

<% if @subject %>
<% provide(:header, @subject.name)%>
<%= render 'layouts/topic_nav', :subject => @subject %>
<% end %>

<% if @subject %>
<%= link_to "Start a new conversation", new_convo_path(:subject_name => @subject.name), :class => 'convo_button' %>
<% else %>
<%= link_to "Start a new conversation", new_convo_path %>
<% end %>

<section id="convos">
	<%= render @convos %> 
</section>




<%= will_paginate @convos, previous_label: h("<"), next_label: h(">") %>

