<h1>Listing convos</h1>

<table>
  <tr>
    <th>User</th>
    <th>Subject</th>
    <th>Merits</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @convos.each do |convo| %>
 
  
  <%= link_to 'Show', convo %>
  <%= link_to 'Edit', edit_convo_path(convo) %>
  <%= link_to 'Destroy', convo, confirm: 'Are you sure?', method: :delete %>
  
<% end %>
</table>

<br />

<%= link_to 'New Convo', new_convo_path %>

<div id="<%= dom_id(convo) %>">	 
	<div class="post" data-post-id="<%= post.id %>">
	
		<!-- add alternate images for mouseover -->
		<span class = "upmerit" >
			<%= image_tag "upmerit.jpeg", :size => '20x20', :alt => "Give credit" %>
			</span>
		<span class = "demerit" >
				<%= image_tag "demerit.jpeg", :size => '20x20', :alt => "Demerit"%>
			</span>
		
		<span class = "merits">
		    <%= convo.merits %>
		</span>
	
		<span class="content">
		<%= convo.title %><br>
	  <%= convo.content %><br>
		</span>
	
		<span class="post_actions">
			<%= link_to "Reply", new_post_path(:parent_id => post.id), :remote => true %>
			</span>
	</div>
</div>