<% content_for :sidebar do %>
<%= render 'layouts/sidebar' , :popular => @popular %>
<% end %>

<% if @subject %>
<% provide(:header, @subject.name)%>
<% end %>

<% if @subject %>
<%= link_to "Start a new conversation", new_convo_path(:subject_name => @subject.name) %>
<% else %>
<%= link_to "Start a new conversation", new_convo_path %>
<% end %>

<section id="convos">
	
	<div class="sticky">
		<% @sticks.each do |stick| %>
		<%= render 'convo',:convo => stick%>
		<% end %>
	</div>
	
	<%= render @convos %> 
</section>




<%= will_paginate @convos, previous_label: h("<"), next_label: h(">") %>

