Conversation created at <%= @convo.created_at.localtime.strftime("%m/%d/%y %H:%M") %> by <%= @convo.user.name %>

<section id="convos">

	<%= render @convo %>

</section>

<hr>
<section id="posts">
	<% @convo.posts.each do |post|%>
	<%= render '/posts/post', :post => post %>
	<% end %>
</section>

<%= link_to 'Back', convos_url(:subject_id => @convo.subject_id) %>
