<p id="notice"><%= notice %></p>

<div class="convo" data-post-id="<%= convo.id %>">

	<%= render 'shared/merits'%>
	
	<span class = "merits">
	    <%= convo.merits %>
	</span>

	<span class="content">
	<%= link_to convo.title, convo %><br>
  <%= raw convo.content %><br>
	</span>

</div>

<hr>

<% @convo.posts.each do |post|%>
<%= render '/posts/post', :post => post %>

<% end %>


<%= link_to 'Edit', edit_convo_path(@convo) %> |
<%= link_to 'Back', convos_path %>
