<div class="convo" data-post-id="<%= @convo.id %>">

	<%= render 'shared/merits'%>
	
	<span class = "merits">
	    <%= @convo.merits %>
	</span>

	<span class="content">
	<%= link_to @convo.title, convo_url(@convo.id) %><br>
  <%= raw @convo.content %><br>
	</span>

</div>

<hr>

<% @posts.each do |post|%>
<%= render '/posts/post', :post => post %>
<% end %>
<%= render '/posts/form' %>



<%= link_to 'Edit', edit_convo_path(@convo) %> |
<%= link_to 'Back', convos_path %>
