<div class="user" data-post-id="<%= user.id %>">

<% if user.pic_url.present? %>

<%= image_tag user.pic_url, :class => "user_image"%><br />

<% else %>

<%= image_tag "no-image.png" , :class => "user_image"%><br />

<% end %>

	<%= link_to user.name, user_path(user.id) %><br/>
	<%= user.rank %><br />
	<%= render 'shared/merits', :item => user %>
	<!-- Add everything else about users here -->

<!-- User box height/width to be set by users css -->

</div>