<div class="user" id="<%= dom_id(user) %>">
	<% if user.admin? %>
	Admin image
	<% end %>

	<% if user.avatar.present? %>

		<%=link_to (image_tag user.avatar, :class => "user_image"), user_url(user.id) %>

	<% elsif user.pic_url.present? %>

		<%=link_to (image_tag user.pic_url, :class => "user_image"), user_url(user.id) %><br />

	<% else %>

		<%#=link_to (image_tag "no-image.png" , :class => "user_image"), user_url(user.id) %><br />
		<%=link_to "No image :-( " , user_url(user.id) %><br />

	<% end %>
	
	PM(telephone icon)

	<%= link_to user.name, user_path(user.id) %><br/>
	<%= user.rank %><br />
	
	<div class="user_merits">
	<%=link_to user.merits, "", :class => '#{dom_id(user)}_merits' %>
	</div>

</div>