<div class="user" data-post-id="<%= user.id %>">

	<% if user.avatar.present? %>

		<%= image_tag user.avatar, :class => "user_image" %>

	<% elsif user.pic_url.present? %>

		<%= image_tag user.pic_url, :class => "user_image" %><br />

	<% else %>

		<%= image_tag "no-image.png" , :class => "user_image" %><br />
		<%= link_to "Upload picture", user_avatar_url(:user_id => current_user.id) %>

	<% end %>

	<%= link_to user.name, user_path(user.id) %><br/>
	<%= user.rank %><br />
	<%= render 'shared/merits', :item => user %>
	<!-- Add everything else about users here -->

<!-- User box height/width to be set by users css -->

</div>