<ul class="breadcrumb">
	
	<% if user == current_user %>

	  <li>
			<%=link_to "My Profile", user_url(user.id), :class => "divider"%>/
	  </li>
	  <li>
			<%=link_to "My Activity", activity_user_path(user.id), :class => "divider"%>/
	  </li>
	  <li>
			<%=link_to "My Documents", documents_user_path(user.id), :class => "divider"%>/
	  </li>
		<% else %>
	
	  <li>
			<%=link_to "#{user.name}'s public profile", user_url(user.id), :class => "divider"%>/
	  </li>
	  <li>
			<%=link_to "#{user.name}'s activity", activity_user_path(user.id), :class => "divider"%>/
	  </li>

	<% end %>

</ul>