<div class="user" id="<%= dom_id(user) %>">

	<% if user.avatar.present? %>

		<%= image_tag user.avatar, :class => "user_image" %>

	<% elsif user.pic_url.present? %>

		<%= image_tag user.pic_url, :class => "user_image" %><br />

	<% else %>

		<%= image_tag "no-image.png" , :class => "user_image" %><br />

	<% end %>
	
	PM(telephone icon)

	<%= link_to user.name, user_path(user.id) %><br/>
	<%= user.rank %><br />
	<%=link_to user.merits, "", :class => 'user_merits' %>

</div>