<h2><%= @user.name %> has created <%= @user.convos.count %> conversations </h2>
	<%= render @user.convos %> 


<h2><%= @user.name %> has made <%= @user.posts.count %> posts</h2>
	<%#= render @user.posts %> 

