<%= form_for [@docable,@doc] do |f| %>
  <% if @doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doc.errors.count, "error") %> prohibited this doc from being saved:</h2>

      <ul>
      <% @doc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
	  <%= f.label :name %><br />
	  <%= f.text_field :name %>
	</div>

	<div class="field">
	  <%= f.label :description %><br />
	  <%= f.text_field :description %>
	</div>

  <p>
    <%= f.file_field :attachment %>
  </p>

	<p>
		<%= f.check_box :remove_attachment %>
		Delete document
	</p>
		
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
