<%= form_for @post, url:convo_posts_path(@convo) do |f| %>

	<% if @post.errors.any? %>
	 <div id="error_explanation">
	   <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

	   <ul>
	   <% @post.errors.full_messages.each do |msg| %>
	     <li><%= msg %></li>
	   <% end %>
	   </ul>
	 </div>
	<% end %>
	
	<% if user_signed_in? 
		user_id = current_user.id %>
	<%=f.hidden_field :user_id %>
	<% end %>
	
	<%=f.hidden_field :parent_id %>
	
	<%= f.text_field :title, placeholder: "Title" %>
	
	<%= f.text_area :content, :size =>'10x10',placeholder: "Credits for your thoughts?" %>
	
	<%= link_to "Cancel", convos_url, class: "btn btn-small post-cancel" %><%= f.submit "Post", class: "post-submit btn btn-primary btn-large" %>
	
<% end %>
