<%= tinymce %>

<%= form_for(@post, :remote =>true) do |f| %>

	<% if @post.errors.any? %>
	 <div id="error_explanation">
	   <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

	   <ul>
	   <% @post.errors.full_messages.each do |msg| %>
	     <li><%= msg %></li>
	   <% end %>
	   </ul>
	 </div>
	<% end %>
	<%=f.hidden_field :parent_id %>
	
	<%= f.text_field :title, placeholder: "Title" %>
	
	<%= f.text_area :content, :class=> "tinymce", :size =>'10x10',placeholder: "Credits for your thoughts?" %>
	
	<%= f.submit "Post"%><%= link_to "Cancel", posts_url, class: "btn btn-primary btn-small" %>
	
<% end %>
