<div id="<%= dom_id(post) %>">	 
	<div class="post" data-post-id="<%= post.id %>">
	
		<%= render 'shared/merits'%>
		
		<span class = "merits">
		    <%= post.merits %>
		</span>
	
		<span class="content">
		<%=link_to post.title, post %><br>
	  <%= raw post.content %>
		</span>
	
		<span class="post_actions">
			<%= link_to "Reply", new_post_path(:parent_id => post.id), :remote => true %>
			</span>
	</div>
</div>

<script>

$('.upmerit').click(function(){
	meritDiv=$(this).siblings('.merits');
	var id = meritDiv.parent().data('post-id');
			var merits = parseInt(meritDiv.text());
		
		  merits += 1;
		
			$.ajax({
				url: "/posts/"+id,
				type: "POST",
				dataType: "json",
				data: { _method: "PUT", id: id, post: { merits: merits } }
			}).success(function(){
				meritDiv.text(merits);
			}).fail(function(data){
				alert("Sorry, request failed");
			});
});

$('.demerit').click(function(){
	meritDiv=$(this).siblings('.merits');
	var id = meritDiv.parent().data('post-id');
			var merits = parseInt(meritDiv.text());
		
		  merits -= 1;
		
			$.ajax({
				url: "/posts/"+id,
				type: "POST",
				dataType: "json",
				data: { _method: "PUT", id: id, post: { merits: merits } }
			}).success(function(){
				meritDiv.text(merits);
			}).fail(function(data){
				alert("Sorry, request failed");
			});
});

</script>
