<article class ="post linearBg2" id = "<%= dom_id(post) %>">	
		
		<%= render 'users/user', :user => post.user %>


			<header class = "title">
				<h2>
					<%=link_to post.title, post %>
				</h2>
			</header>
		
			<%= render 'shared/merits', :item => post %>
			<%= render 'shared/docs', :item => post %>
			
			<div class="convo_text">
			
			<!-- 
	  			<%= raw post.content %>
	  		 -->

	  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	  		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	  		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>

	  		<button class = "btn btn-primary post_actions">
			<%= link_to "Reply", new_convo_post_path(:convo_id => post.convo.id, :parent_id => post.id), :remote => true %>
			</button>
			
			<!-- Admin will see delete button here -->

</article>