<article class ="post-wrapper" id = "<%= dom_id(post) %>">	
	<div class = "post linearBg2" data-post-id = "<%= post.id %>">
		
		<%= render 'users/user', :user => post.user %>

		<section class = "post_content">

			<header class = "title">
				<h3>
					<%=link_to post.title, post %>
				</h3>
			</header>
		
			<%= render 'shared/merits', :item => post %>
			<!-- <p>
	  			<%= raw post.content %>
	  		</p> -->

	  		<p>Hello this is some test text! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	  		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	  		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	  		<button class = "btn btn-primary post_actions">
			<%= link_to "Reply", new_convo_post_path(:convo_id => post.convo.id, :parent_id => post.id), :remote => true %>
			</button>
		</section>
		
		<%= render 'shared/docs', :item => post %>
	
		<section class = "post_actions">
			<%= link_to "Reply", new_convo_post_path(:convo_id => post.convo.id, :parent_id => post.id), :remote => true %>
		</section>

		
	</div>
</article>