<article class ="post linearBg2" id = "<%= dom_id(post) %>">	
		
		<%= render 'users/user', :user => post.user %>


			<header class = "title">
				<h2>
					<%=link_to post.title, post %>
				</h2>
			</header>
		
			<%= render 'shared/merits', :item => post %>
			<%= render 'shared/docs', :item => post %>
			
			<div class="post_text">
			 <%= raw post.content %>
			</div>
			
					<%if signed_in? %>
						<% if current_user.admin?%>
							<%= link_to "Edit", edit_post_url(post.id)%> | <%= link_to "Delete", post_url(post.id), method: :delete %>
						<% elsif current_user == post.user && post.created_at < 1.day.ago %>
							<%= link_to "Edit", edit_post_url(post.id)%> | <%= link_to "Delete", post_url(post.id), method: :delete %>
							<% else %>
							Locked for editing after 1 day
							<% end %>
						<% end%>

			|<%= link_to "Reply", new_convo_post_path(:convo_id => post.convo.id, :parent_id => post.id), :remote => true %>			
			<!-- Admin will see delete button here -->

</article>