<div id="<%= dom_id(post) %>">	 
	<div class="post" data-post-id="<%= post.id %>">
	
		<!-- add alternate images for mouseover -->
		<span class = "upmerit" >
			<%= image_tag "upmerit.jpeg", :size => '20x20', :alt => "Give credit" %>
			</span>
		<span class = "demerit" >
				<%= image_tag "demerit.jpeg", :size => '20x20', :alt => "Demerit"%>
			</span>
		
		<span class = "merits">
		    <%= post.merits %>
		</span>
	
		<span class="content">
		<%= post.title %><br>
	  <%= post.content %><br>
		</span>
	
		<span class="post_actions">
			<%= link_to "Reply", new_post_path(:parent_id => post.id), :remote => true %>
			</span>
	</div>
</div>