<div id="<%= dom_id(post) %>">	 
	<div class="post" data-post-id="<%= post.id %>">
		
		<%= render 'users/user', :user => post.user %>
	
		<span class="title">
		<%=link_to post.title, post %><br>
	  </span>
	
		<%= render 'shared/merits', :item => post %>
	
		<span class="content">
	  <%= raw post.content %><br>
		</span>
	
		<span class="post_actions">
			<%= link_to "Reply", new_convo_post_path(:convo_id => post.convo.id, :parent_id => post.id), :remote => true %>
			</span><br>
	</div>
</div>