//Add latest post

//Something about if @parent of 

<% if @parent.present? %>
puts @parent.id
$('#<%= dom_id(@parent)%>').append('<%= escape_javascript(render "post" ,:post => @post) %>');
$('#posts').append('<%= escape_javascript(render "post" ,:post => @post) %>');
$("#<%= dom_id(@user) %>_merits").html("<%= @user.merits %>");
<% else %>
$("#posts").append('<%= escape_javascript(render "post" ,:post => @post) %>');
<% end %>

//Temporarily edit post
 $("#posts").append("<span class='temp_edit'><%= j(link_to "Edit", edit_post_url(@post.id), :remote => true) %></span>");
 $('.temp_edit').delay(3000).fadeOut(300);

//Clear form fieldk; change this to clear tiny mce instead ...
$('#post_content').val(null);
$('#post_title').val(null);
