<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "WhizAP", root_path, id: "logo" %>

      <nav>
				<form class="navbar-search" action="/convos" method="get">
					<input type="text" name="query" class="span2" placeholder="Search WhizAP">
					</form>
        <ul class="nav pull-right">
					<li><%#= link_to "Lessons", "#" %></li>
					<% if user_signed_in? %>	
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<%= current_user.name %>(<%= current_user.rank%>)<br/>
							<%= current_user.merits %> merits
							<b class="caret"> </b>
						</a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="icon-user"></i>Profile</a></li>
								<li><a href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow"><i class="icon-remove"></i>Sign Out</a></li>
							</ul>
						</li>
						
						<% if current_user.avatar.present? %>
							<%= link_to (image_tag current_user.avatar, :class => "user_image"), user_url(current_user.id) %>
						<% elsif current_user.pic_url.present? %>
							<%= link_to (image_tag current_user.pic_url, :class => "user_image"), user_url(current_user.id) %><br />
						<% else %>
							<%= link_to (image_tag "no-image.png" , :class => "user_image"), user_url(current_user.id) %><br />
						<% end %>
						
						<% else %>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								Sign In
								<b class="caret"> </b>
							</a>
								<ul class="dropdown-menu">
								<li><%= link_to "Sign In - Facebook", user_omniauth_authorize_path(:facebook) %></li>
								<li><%= link_to "Sign In - Email", new_user_session_path %></li>
								<li><%= link_to "Register", new_user_registration_path %></li>
								</ul>
							</li>
						<% end %>
  
        </ul>
      </nav>
    </div>
  </div>
</header>


	<%# if current_user.admin%>
	<header class="navbar navbar fixed-top">
		<div class="container">
			Admin bar:
			<%= link_to "Subjects", subjects_url %>|
			<%= link_to "Exams", exams_url %>|
			<%= link_to "Users", users_url %>|
			<%= link_to "Lessons", '#' %>
			</div>
		</header>
	<%# end %>
	
<% flash.each do |name,msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>