 <div class="row">
		<div class="tabs">
	      <ul>			
	        <%= nav_link "All", convos_url %>
					<%= nav_link 'Math', convos_url(:subject_name => "Mathematics")%>
	        <%= nav_link 'Social Science', convos_url(:subject_name =>"Social Science") %>
	        <%= nav_link 'Natural Science', convos_url(:subject_name => "Natural Science") %>
	        <%= nav_link 'Languages / Literature', convos_url(:subject_name => "Languages/Lit") %>
	        <%= nav_link 'Humanities', convos_url(:subject_name => "Art/Humanities") %>
	
	      </ul>
	    </div>
	</div>
