<!DOCTYPE html>
<html>
	<head>
  	<title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	  <![endif]-->
	</head>
	<body>
		<div class="container">	
				<%= render '/layouts/header'%>
				
				<h1><%= page_heading(yield(:header))%></h1>
					<div class= "row-fluid">
						
							<div class="span9 content">
									<%= render 'layouts/subject_nav' unless no_forum_nav? %>
									<%= yield %>			
							</div>
							<div class="span2">
								<%= yield :sidebar %>
							</div>
					 </div>
					 <%= render '/layouts/footer'%>
						<br /><br /><br />
					<p>AP and Advanced Placement are registered trademarks of the College Board, which is not involved in, and does not endorse WhizAP.</p><br /><br />	
				
			</div>


	</body>
</html>